.header {
	background-color: #292b2c;
	height: 60px;
	color: white;
	padding: 0 20px;
}

.logo {
	float: left;
	padding: 20px 20px 0 20px;
}

.login-wrapper {
	float: right;
}

.logout-button {
	background-color: #5cb85c;
	border: solid 1px transparent;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	height: 30px;
    outline: none;
    padding: 0px 15px;
	width: 100%;
	margin-top: 15px;
}